<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <script type="text/javascript" src="/js/donate.min.js" defer></script>
    </head>
    <body>
        <% let link_mitglied; if (typeof user !== "undefined" && user !== null && user.valid) { link_mitglied = "/profile?exec=profileMembership" } else { link_mitglied = "/mitglied#scrollToMembership"; }; %>
        <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: donate.alt,
                img_path: donate.bild,
                title: donate.titel,
                subtitle: "",
                cta_text: "Spenden",
                cta_link: "/spenden#scrollToDonate",
                origin_url
            }) %>
            <form id="scrollToDonate" class="donate-form">
                <h1 class="donate-title">Spenden</h1>
                <p class="donate-description">Benutze den QR-Code oder die IBAN Nummer unten um uns eine Spende zu überweisen.<br>Vielen Dank❤️</p>
                <div class="donate-wrapper">
                    <div class="donate-qr-wrapper">
                        <img src="/img/common/donate-qr-code.png" alt="QR Code Spenden" class="donate-qr">
                        <p class="donate-qr-text">
                            CH 20 0900 0000 6184 2154 0<br>
                            zurich - <wbr>meets - <wbr>tanzania<br>
                            8049 Zürich<br>
                        </p>
                        <button type="button" id="donate-start-stage-2" class="donate-btn hero-cta">Bestätigen</button>
                    </div>
                    <div class="donate-center donate-form-wrapper">
                        <div class="donate-name-pair">
                            <div class="donate-name-pair-inner">
                                <label class="donate-label" for="donate-name">Name:</label>
                                <input class="donate-input" type="text" required autocomplete="given-name" id="donate-name">
                            </div>
                            <div class="donate-name-pair-inner">
                                <label class="donate-label" for="donate-family-name">Nachname:</label>
                                <input class="donate-input" type="text" required autocomplete="family-name" id="donate-family-name">
                            </div>
                        </div>
                        <div class="donate-form-pair">
                            <label class="donate-label" for="donate-email">E-Mail:</label>
                            <input class="donate-input" type="email" required autocomplete="email" id="donate-email">
                        </div>
                        <div class="donate-form-pair">
                            <label class="donate-label" for="donate-usage-type">Wähle einen Verwendungszweck:</label>
                            <select class="donate-input" name="donate-usage-type" id="donate-usage-type">
                                <option class="donate-option" value="Allgemeine Spende">Allgemeine Spende</option>
                                <option class="donate-option" value="20f40">20f40</option>
                                <option class="donate-option" value="Mbuzi">Mbuzi</option>
                                <option class="donate-option" value="Meducation">Meducation</option>
                                <option class="donate-option" value="Med. Geräte / Infrastruktur">Med. Geräte / Infrastruktur</option>
                            </select>
                        </div>
                        <button type="submit" id="donate-submit" class="donate-btn hero-cta">Abschicken</button>
                    </div>
                </div>
            </form>
            <a href="/mitglied#scrollToMembership" class="donate-navigate-to-membership">Oder Mitglied werden?</a>
            <script defer>
                const DONATE_formWrapper = getQuery(".donate-form-wrapper")
                const DONATE_description = getQuery(".donate-description").get(0)
                const DONATE_startStage2Button = getElm("donate-start-stage-2")

                DONATE_formWrapper.hide();

                DONATE_startStage2Button.click(() => {
                    getElm("style-to-remove-after-stage-1")?.remove();
                    DONATE_startStage2Button.hide()

                    DONATE_description.text("Bitte übermittle uns deine Daten über das Formular unten, damit wir dir eine Spendenbescheinigung ausstellen können.")

                    DONATE_formWrapper.flex();
                })
            </script>
            <style id="style-to-remove-after-stage-1">
                .donate-wrapper {
                    justify-content: center;
                }

                .donate-qr-text {
                    text-align: center;
                }
            </style>
            <% if (typeof user !== "undefined" && user !== null && user.valid) { %>
            <div class="invisible">
                <p id="donate-prefilled-name"><%= user.name %></p>
                <p id="donate-prefilled-family-name"><%= user.family_name %></p>
                <p id="donate-prefilled-email"><%= user.email %></p>
            </div>
            <% }; %>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url
        }) %>
    </body>
</html>
