<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <script type="text/javascript" src="/js/donate.min.js" defer></script>
    </head>
    <body>
        <% let link_mitglied; if (typeof user !== "undefined" && user !== null && user.valid) { link_mitglied = "/profile?exec=profileMembership" } else { link_mitglied = "/mitglied#scrollToMembership"; }; %>
        <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: donate.alt,
                img_path: donate.bild,
                title: donate.titel,
                subtitle: "",
                cta_text: "Abonnieren",
                cta_link: "/mitglied#scrollToMembership",
                origin_url
            }) %>
            <form id="scrollToMembership" class="donate-form">
                <h1 class="donate-title">Mitglied werden</h1>
                <div class="donate-center">
                    <div class="donate-amount" id="membership-submit-label">
                        <div class="donate-currency">CHF / Jahr</div>
                        <input type="number" class="donate-number" value="50" disabled="">
                    </div>
                    <button type="submit" id="membership-submit" class="donate-btn hero-cta">Abonnieren</button>
                    <script>document.getElementById("membership-submit-label").addEventListener("click",()=>{document.getElementById("membership-submit").click()});</script>
                </div>
            </form>
            <a href="/spenden#scrollToDonate" class="membership-navigate-to-donate">Einmalige Spende</a>
            <% if (typeof user !== "undefined" && user !== null && user.valid) { %>
            <div class="invisible">
                <p id="donate-prefilled-name"><%= user.name %></p>
                <p id="donate-prefilled-family-name"><%= user.family_name %></p>
                <p id="donate-prefilled-email"><%= user.email %></p>
            </div>
            <% }; %>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url
        }) %>
    </body>
</html>
