<!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("../snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.1.3/build/umd/index.min.js"></script>
        <script type="text/javascript" src="/js/builder.js" defer></script>
        <link rel="stylesheet" href="/css/blog.css" />
        <link rel="stylesheet" href="/css/private.css" />
    </head>
    <body>
        <%- include("../snippets/header.ejs") %>
        <%- include("../snippets/nav.ejs") %>
        <div class="builder-layout">
            <div></div>
            <section>
                <button type="button" class="add-item-btn" id="add-general">
                    <h1>Allgemeine Informationen</h1>
                </button>
                <button type="button" class="add-item-btn" id="add-title">
                    <h1>Titel hinzufügen</h1>
                </button>
                <button type="button" class="add-item-btn" id="add-subtitle">
                    <h1>Untertitel hinzufügen</h1>
                </button>
                <button type="button" class="add-item-btn" id="add-text">
                    <h1>Text hinzufügen</h1>
                </button>
                <button type="button" class="add-item-btn" id="add-text-picture">
                    <h1>Halb Text, Halb Bild</h1>
                    <p>Bild rechts</p>
                </button>
                <button type="button" class="add-item-btn" id="add-picture-text">
                    <h1>Halb Bild, Halb Text</h1>
                    <p>Bild links</p>
                </button>
                <button type="button" class="add-item-btn" id="add-picture">
                    <h1>Bild hinzufügen</h1>
                </button>
                <button type="button" class="add-item-btn" id="add-multiple-pictures">
                    <h1>Mehrere Bilder hinzufügen</h1>
                </button>
                <button type="button" class="add-item-btn" id="add-line">
                    <h1>Trennlinie hinzufügen</h1>
                </button>
                <button type="button" class="add-item-btn" id="add-team">
                    <h1>Aktuelles Team hinzufügen</h1>
                </button>
                <button type="button" class="add-item-btn" id="done">
                    <h1>Abschliessen</h1>
                </button>
            </section>
            <button type="button" class="floating-edit-btn" id="edit-current-element" data-blog-is-new="false" data-blog-original-name="<%= title %>">
                <img src="/img/svg/pen.svg" alt="Bearbeiten" title="Bearbeiten" />
            </button>
            <button type="button" class="floating-edit-btn" id="delete-current-element">
                <img src="/img/svg/trash.svg" alt="Löschen" title="Löschen" />
            </button>
            <main>
                <%- include("../snippets/hero.ejs", {
                    img_alt: blog.hero.imageAlt,
                    img_path: blog.hero.imageUrl,
                    title: blog.hero.title,
                    subtitle: blog.hero.subtitle,
                    cta_text: "",
                    cta_link: origin_url
                }) %>

                <div id="content">
                    <% blog.body.forEach((element) => { 
                        if (element.type === "title") { %>

                            <h1 class="blog_title"><%- element.data.text %></h1>

                        <% } else if (element.type === "subtitle") { %>

                            <h2 class="blog_subtitle"><%- element.data.text %></h2>

                        <% } else if (element.type === "paragraph") { %>

                            <div class="blog_text"><%- element.data.text %></div>

                        <% } else if (element.type === "image") { %>

                            <img class="blog_img" src="<%= element.data.imageUrl %>" alt="<%= element.data.imageAlt %>" />

                        <% } else if (element.type === "image-paragraph") { %> 
                            
                            <%- include("../snippets/blogTextImage.ejs", { 
                                imagePosition: element.data.imagePosition, 
                                imageUrl: element.data.imageUrl, imageAlt: 
                                element.data.imageAlt, text: 
                                element.data.text 
                            }) %> 
                        
                        <% } else if (element.type === "line") { %>

                            <div class="blog_line"></div>

                        <% } else if (element.type === "multiple-images") { %>

                            <%- include("../snippets/blogCarousel.ejs", {
                                imageUrlArray: element.data.imageUrlArray,
                                imageAltArray: element.data.imageAltArray,
                            }) %>

                        <% } else if (element.type === "team") { %>

                            <%- include("../snippets/teamMember.ejs", {
                                members: element.data.members,
                                teamId: element.data.teamId,
                            }) %>

                        <% } %>
                    <% }) %>
                </div>
            </main>
        </div>
        <%- include("../snippets/footer.ejs", {
            origin_url: origin_url
        }) %>
    </body>
</html>
